<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div id="content">
        <canvas id='canvas' width='6000px' height='6000px'></canvas>
    </div>
</body>
</html>
